<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Pagina Web con CSS">
        <meta name="keywords" content="HTML5, CSS3, Web, Diseño, UMG"/>
        <title>Maquetacion Desarrollo Web</title>

        <link href="../content/estilo1.css" rel="stylesheet">
        

    </head>
    <body class="body">

        <div class="contenedor" >
            <img src="../img/logo.png" alt="Imagen" >
        </div>


        <header class="barra">
            <nav><ul>

                    <li class="active"> <a href="#">Inicio</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contactanos</a></li>

                </ul></nav>

        </header>

        <div class="Main">
            <div class="content">
                <article class="Top">
                    <header>
                        <h2><a href="#">Que es HTML5 </a></h2>
                    </header>
                    <footer>
                        <h5><i>Esto fue posteado el 27/07/2023 por Cesar Guerra UMG-Guastatoya</i></h5>
                    </footer>
                    <content>
                        <p>HTML5 es la última versión de HyperText Markup
                            Language (Lenguaje de Marcado de Hipertexto).</p>
                        <p>Combina tres tecnologías web: HTML, para construir la
                            estructura de la página; CSS, para mejorar la
                            presentación; y JavaScript, para agregar
                            funcionalidad a los elementos HTML.</p>
                        <p>Sus etiquetas o marcas hacen que textos, imágenes y
                            elementos multimedia se visualicen correctamente en
                            la pantalla, y que las páginas web tengan un formato
                            unificado, estandarizado</p>

                    </content>
                </article>

                <article class="Bottom">
                    <header>
                        <h2><a href="#">Introduccion a CSS3</a></h2>
                    </header>
                    <footer>
                        <h5><i>>Esto fue posteado el 27/07/2023 por Cesar Guerra UMG-Guastatoya</i></h5>
                    </footer>
                    <content>
                        <p>Un lenguaje de hojas de estilo utilizado para dar
                            estilo y presentación a páginas web escritas en HTML
                            o XHTML.</p>
                        <p>CSS3 presenta muchas mejoras y nuevas características
                            en comparación con versiones anteriores de CSS</p>
                        <p>lo que permite a los desarrolladores web tener un
                            mayor control sobre el diseño y la apariencia de sus
                            sitios web.</p>
                    </content>
                </article>

            </div>
        </div>
        <div class="Main">
            <aside class="bottom-sidebar">
                <div class="featured">
                    <h2>Que es y para que sirve JavaScript</h2>
                    <p>JavaScript es un lenguaje de programación de alto nivel, interpretado y orientado a objetos que se utiliza principalmente para agregar interactividad y dinamismo a las páginas web.</p>
                    <a href="">Leer Mas</a>
                </div>
            </aside>
            <aside class="top-sidebar">
                <h2>Navegacion</h2>
                <ul class="barra-navegacion">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Acerca De</a></li>
                    <li><a href="">Contactanos</a></li>
                </ul>
            </aside>
        </div>

        <footer class="pageFooter">
            <p>Copyright &copy; 2023 - www.misitio.com</p>
        </footer>

    </body>
</html>